.container {
    width: 100%;
    will-change: contents;
    height: 100vh;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.7s;
   
  }
  .about-page{
    .text-zone{
        position: absolute;
        left:10%;
        top:50%;
        transform:translateY(-50%);
        width:35%;
        vertical-align: middle;
        display:table-cell;
        max-height:90%;

        h1{
            font-size:53px;
            font-family:'Coolvetica';
            color:#ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom:40px;
            left:10%;
            .father:hover{
                cursor: pointer;
                color:#ffd700;
                animation: fadeIn 1s forwards ;
              
              }
          &::before{
            content: "<h1>";
            font-size: 18px;
            font-family: 'La Belle Aurore ';
            position:absolute;
            opacity:0.6;
            left:-10px;
            top:-10px;
           

          }
          &::after{
            content: "</h1>";
            font-size: 18px;
            font-family: 'La Belle Aurore ';
            position:absolute;
            opacity:0.6;
            left:-30px;
            bottom:-20px;
            margin-left:20px;
          }

        }
        p{
            font-size:13px;
            color:#fff;
            font-family:sans-serif;
            font-weight: 100;
            min-width:fit-content;
            animation:pulse 1.4s;
            line-height:20px;
            &:nth-of-type(1){
                animation-delay: 1.9s ;
            }
            &:nth-of-type(2){
                animation-delay: 1.9s ;
            }
            &:nth-of-type(3){
                animation-delay: 1.9s ;
            }
        }
    }




.stage-cube-cont{
    width:50%;
    height:100%;
    padding-top:18px;
    margin-left:0;
    position: absolute;
    right:0;
    top:40%;
}
.cube-spiner{
      animation-name:spincube;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      transform-style: preserve-3d;
      transform-origin:100px 100px 0;
      margin-left:calc(50% - 100px);
      
   div{
    position: absolute;
    width:200px;
    height:200px;
    border:1px solid #ccc;
    background: rgba(255,255,255,0.4);
    font-size:100px;
    display: flex;
    justify-content:center;
    align-items:cenetr;
    place-items:center;
    box-shadow: 0 0 20px 0px lightyellow;

   }
   .face1 {
    transform: translateZ(100px);
    color: #dd0031;
   
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
    

}
@keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
    
}
  }
  @media(max-width:720px) {
    .containerA {
      min-height: 1000px;
      top: 0%;
      z-index: 1;
     
    }
    .about-page{

      .text-zone{
          position: absolute;
          left:10%;
          top:25%;
          transform:translateY(-50%);
          width:80%;
          vertical-align: middle;
          display:table-cell;
          max-height:90%;
  
          h1{
              font-size:43px;
              font-family:'Coolvetica';
              color:#ffd700;
              font-weight: 400;
              margin-top: 0;
              position: relative;
              margin-bottom:10px;
              left:10%;
            &::before{
             display: none;
  
            }
            &::after{
              display: none;
            }
  
          }
         
      }
  .stage-cube-cont{
      width:80%;
      height:100%;
      padding-top:0px;
      margin-top:0;
      position: absolute;
      right:10%;
      top:52%;
  
  }
  
  
    }
  }