.containerC {
    width: 100%;
    will-change: contents;
    height: 100vh;
    position: absolute;
    opacity: 0;
    top: 3%;
    left:0%;
    margin:auto auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.7s;
   
  }
  .contact-page{
    width: 100%;
    .text-zone{
        position: absolute;
        top:50%;
        left:20%;
        transform:translateY(-50%);
        width:40%;
        vertical-align: middle;
        display:table-cell;
        max-height:90%;
       
        h1{
            font-size:53px;
            font-family:'Coolvetica';
            color:#ffd700;
            font-weight: 400;
            margin-top:40px;
            position: relative;
            margin-bottom:40px;
          
            .father:hover{
                cursor: pointer;
                color:#ffd700;
                animation: fadeIn 1s forwards ;
              
              }
          &::before{
            content: "<h1>";
            font-size: 18px;
            font-family: 'La Belle Aurore ';
            position:absolute;
            opacity:0.6;
            left:-10px;
            top:-10px;
           

          }
          &::after{
            content: "</h1>";
            font-size: 18px;
            font-family: 'La Belle Aurore ';
            position:absolute;
            opacity:0.6;
            left:-30px;
            bottom:-20px;
            margin-left:20px;
          }

        }
        p{
            font-size:13px;
            color:#fff;
            font-family:sans-serif;
            font-weight: 100;
            min-width:fit-content;
            animation:pulse 1.4s;
            line-height:20px;
        }
    }
    .contact-form {
        width: 100%;
        margin-top: 0px;
      
        ul {
          padding: 0;
          margin: 0;
          position: relative;
      
          li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
          }
      
          li.half {
            width: 100%;
            margin-left: 0%;
            float: left;
            clear: none;
      
           
          }
          .flat {
            color: #ffd700;
            font-size: 11px;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 8px 10px;
            border: 1px solid #ffd700;
            float: left;
            border-radius: 4px;
            background: 0 0;
            text-transform: uppercase;
            float: right;
            text-align: center;
            margin-right: 0px;
          }
          .call{
            .phone{
              font-size: 18px;
              letter-spacing: 3px;
              text-decoration: none;
              padding: 8px 10px;
              border: 1px solid #00ff3c;
              border-radius: 4px;
              text-transform: uppercase;
              float: right;
              .anchor{
                color:#00ff3c;
              }
            }
           
          }
        
        }
      
        input[type='text'],
        input[type='email'] {
          width: 100%;
          border: 0;
          background: #115173;
          height: 50px;
          font-size: 16px;
          color: #fff;
          padding: 0 20px;
          box-sizing: border-box;
        }
      
        textarea {
          width: 100%;
          border: 0;
          background: #115173;
          height: 50px;
          font-size: 16px;
          color: #fff;
          padding: 20px;
          box-sizing: border-box;
          min-height: 150px;
        }
      
        
      }
     



}
@media screen and (max-width:760px) {
 .containerC{
   top:40%;
   height: 100vh;

  .text-zone{
    top:0%;
    left:10%;
    transform:translateY(-50%);
    width:70%;
    height: auto;   
    h1{
        font-family:'Coolvetica';
        font-weight: 400;
        position: relative;
        margin-bottom:10px;
        .father{
          font-size:40px;

          }
      &::before,&::after{
       display: none;
       
      }
     
    }
    p{
  font-size: 12px;  
  margin-bottom: 20px;    
    }
}
.contact-form {
  width: 100%;
  .call{
    .phonne{
      float: left;
      .anchor{
        color:#ffd700;
      }
    }
    &::before{
     display: none;
    }
   
  }

  textarea {
    height: 40px;
    min-height: 120px;
  }

  
}
}

}
@media screen and (max-width:370px) {
  .containerC{
     p{
       display: none;
       
     }
 }

}