.page {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.top-tags {
  bottom: auto;
  top: 35px;
 
}
.top-tags:hover {
  opacity: 1;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
 
}

.bottom-tag-html {
  margin-left: -20px;
}
@media(max-width:700px){
  .page {
    width: 100%;
    height: 150vh;
    max-height: 150vh;
    position: absolute;
    overflow: hidden;
  }
}